html, body {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    position: relative;
    border: solid 1px black;
    max-width: 1200px;
    height: inherit;
    background-color: antiquewhite;
}

#top {
    text-align: center;
    background-color: gray;
    height: 20%;
    width: auto;
}

#name {
    position: relative;
    padding: 30px;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

#photo {
    position: absolute;
    top: 8vh;
    left: 4vh;
    height: 300px;
    width: 300px;
    background-color: aliceblue;
    border-radius: 60%;
}

#left, #right {
    display: inline-block;
    width: auto;
    height: auto;
    text-align: left;
    margin: 30px 50px; 
}

p {
    white-space: pre-line;
}

.underline {
    border-bottom: 1px solid #000000;
    font-weight: 700;
    
}

.title {
    font-weight: 600;
}


#l-contact a, #l-skills a, #r-education a, #r-experience a {
    text-decoration: none;
    color: inherit;
}

#r-education {
    margin-top: 20px;
}

#l-skills {
    margin-top: 50px;
}